@model LibraryWeb.Models.Book

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Book</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <input asp-for="BookId" class="form-control" />
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class ="form-control" asp-items="ViewBag.AuthorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PubisherId" class="control-label"></label>
                <select asp-for="PubisherId" class ="form-control" asp-items="ViewBag.PubisherId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PublishDate" class="control-label"></label>
                <input asp-for="PublishDate" class="form-control" />
                <span asp-validation-for="PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfpage" class="control-label"></label>
                <input asp-for="NumberOfpage" class="form-control" />
                <span asp-validation-for="NumberOfpage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockAmount" class="control-label"></label>
                <input asp-for="StockAmount" class="form-control" />
                <span asp-validation-for="StockAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentAmount" class="control-label"></label>
                <input asp-for="CurrentAmount" class="form-control" />
                <span asp-validation-for="CurrentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class ="form-control" asp-items="ViewBag.Category"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
